server:
  port: 8888

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: account_service
              uri: http://localhost:8080
              predicates:
                - Path= /api/auth/**
            - id: watches
              uri: http://localhost:8081
              predicates:
                - Path= /api/watches/**